empirical @ git+https://github.com/ucgmsim/Empirical_Engine
geopandas
nshmdb @ git+https://github.com/ucgmsim/NSHM2022DB@source_modelling
numpy<2
pandas
pytest
pyyaml
qcore @ git+https://github.com/ucgmsim/qcore@pegasus
scipy
shapely
source_modelling @ git+https://github.com/ucgmsim/source_modelling@pegasus
typer
velocity_modelling @ git+https://github.com/ucgmsim/velocity_modelling@cylc
